*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.background{
    background-image: url('./images/salavazia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

.container{
    .container{
        background-color: #ffffff8c;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 20px;
        box-shadow: rgb(0,0,0) 0px 5px 15px;
        border-radius: 10px;
        border: 3px solid #090909;
        animation: top 1s linear;
}
@keyframes top{
    0%{
        transform: translate(100px);
    opacity: 1;    
}
}
h1{
    color: white;
    font-size: 56px;
    font-family: "Bitcount Prop Double" system-ui;
    }
    @keyframes buttom {
      0%{
        transform: translateY(-100px);0
      }  
      100%{
        opacity: 1;
      }
    }
}
label{
    text-align: left;
    width: 100%;
    margin-bottom: -10px;
    color: #090909;

}

input{
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #090909;
    font-weight: bold;
}
input::placeholder{
    color: 1f1f1fd9;
    font-weight: lighter;
}

input:focus{
    outline: none;
}

.btn{
    padding: 10px;
    border: none;
    border: 3px solid white;
    color: white;
    background: transparent;
    font-weight: 900;
    transition: all 200ms ease-in-out;

}
.btn:hover{
    background-color: #fff;
    cursor: pointer;
    color: #090909;
}

#media{
    font-size: 36px;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
