* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav{
    position: fixed;
    top: 0;
    background-color: #ddd;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

nav a{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    color: inherit;
    opacity: 0.6;
}

nav a:hover{
    opacity: 1;
}

#s1 {
    min-height: 100vh;
    background-color: #005380;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.img-s1{
    width: 300px;
    height: 300px;
}
.warp-img{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.warp-words{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

#s2 {
    min-height:  100vh;
    background-color: #ec6464;
    padding-top: 80px;

}

#s3 {
    min-height:  100vh;
    background-color: #40e5e0;
    padding-top: 80px;

}

#s4 {
    min-height:  100vh;
    background-color: #283ea8;
    padding-top: 80px;
}